<%- layout('/main/boilerplate.ejs') -%>

<div class="mt-5">
     

    <div class="card ml-4" cols="6" style="width: 18rem; margin-left: 40px; width: 300px;">
  <img src="<%= product.img %>" class="card-img-top ml-3"  alt="...">
  <div class="card-body">
    <h5 class="card-title"><%=product.name%>></h5>
    <p class="card-text"><%=product.desc%></p>
    <!-- <a href="#" class="btn btn-primary">Go somewhere</a> -->
  </div>
</div>

</div>